.navbarMain {
    margin-bottom: 20px;
}

.navbarLoginLink {
    color: #007bff !important;
}

.navbarLoginLink:hover {
    color: #0056B3 !important;
}

.navbarLoginItem {
    color: black !important;
}